<md-toolbar class="md-table-toolbar md-default md-menu-toolbar" aria-hidden="false" style="">
  <div class="md-toolbar-tools">
    <md-icon md-svg-src="app/img/ic_search_white_24px.svg"></md-icon>
    <form flex="" name="filter.form" class="ng-valid flex ng-pristine" style="">
      <input ng-model="vm.obj.title" ng-change="vm.go(true)" type="text" placeholder="search" class="ng-valid ng-touched ng-pristine" aria-invalid="false" style="">
    </form>
    <md-button class="md-icon-button" aria-label="Settings" ><md-icon md-svg-src="app/img/ic_clear_white_24px.svg"></md-icon></md-button>
  </div>
  <div class="md-toolbar-tools" layout="row" layout-align="end center">

    <sm-date-time-picker 
         close-on-select="true"
         fname="日期"
         lable="日期"
         form="" 
         value="vm.obj.date" 
         start-date="10-15-2015"
         mode="date"
         min-date=""
         max-date=""
         is-required="true" 
         format="YYYY-MM-DD" 
         week-start-day="Sunday">
    </sm-date-time-picker>
    <md-checkbox ng-model="vm.obj.isout" aria-label="Finished?" ng-change="vm.go(true)">
    	出货
    </md-checkbox>
    <md-checkbox md-no-ink ng-model="vm.obj.isoff" aria-label="No Ink Effects" ng-change="vm.go(true)">
    	支付
    </md-checkbox>
  </div>
</md-toolbar>
<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="vm.obj.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="calories.value"><span>名称</span></th>
        <th md-column md-numeric  md-order-by="nameToLower" md-desc="true"><span>数量</span></th>
        <th md-column md-numeric>类型</th>
        <th md-column md-numeric>金额</th>
        <th md-column md-numeric>姓名</th>
        <th md-column md-numeric>电话</th>
        <th md-column md-numeric>地址</th>
        <th md-column md-numeric>购买时间</th>
        <th md-column md-numeric>支付</th>
        <th md-column md-numeric>操作</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="dessert.id" md-auto-select ng-repeat="dessert in vm.items">
        <td md-cell>{{dessert.cp_name}}</td>
        <td md-cell>{{dessert.buy_count}}</td>
        <td md-cell>{{dessert.cp_type}}</td>
        <td md-cell>{{dessert.buy_jine}}</td>
        <td md-cell>{{dessert.buyer_name}}</td>
        <td md-cell>{{dessert.buyer_tel}}</td>
        <td md-cell>{{dessert.buyer_address}}</td>
        <td md-cell>{{dessert.cdate}}</td>
        <td md-cell>{{dessert.isoff?'是':'否'}}</td>
        <!-- <td md-cell ng-click="editComment($event, dessert)" ng-class="{'md-placeholder': !dessert.comment}">
		  {{dessert.comment || 'Add a comment'}}
		</td> -->
		<td md-cell>
		  <md-select ng-model="dessert.isout" placeholder="Other">
		    <md-option ng-value="true">已出货</md-option>
		    <md-option ng-value="false">未出货</md-option>
		  </md-select>
		</td>
      </tr>
    </tbody>
  </table>
  <md-table-pagination ng-disabled="false"
	md-label="{of: 'of', page:'当前页', rowsPerPage:'每页条数'}" 
	md-boundary-links="true" 
	md-limit="pageSize" 
	md-limit-options="[15]" 
	md-page="vm.obj.pageNumber" 
	md-total="{{bigTotalItems}}" 
	md-on-paginate="getDesserts" 
	md-page-select>
  </md-table-pagination>
</md-table-container>