<md-sidenav class="md-sidenav-left site-sidenav" md-component-id="left"
	md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" md-whiteframe="4" >
	<md-toolbar class="md-theme-indigo">
	<h1 class="md-toolbar-tools">Sidenav Left</h1>
	</md-toolbar> 
	<md-content layout-padding> 
		<md-list class="md-dense" flex> 
			<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
			<md-list-item ui-sref="index.admin.center" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p>已购买列表</p>
			</md-list-item>
			<md-list-item ui-sref="login" ng-click="null" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p> Login </p>
			</md-list-item>
			<md-list-item ng-click="null" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p>Min Li Chan</p>
			</md-list-item>
			<md-list-item ng-click="null" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p>Min Li Chan</p>
			</md-list-item>
			<md-list-item ng-click="null" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p>Min Li Chan</p>
			</md-list-item>
			<md-list-item ng-click="null" class="noright">
			    <img alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" />
			    <p>Min Li Chan</p>
			</md-list-item>
		</md-list> 
	</md-content> 
</md-sidenav>

<div layout="column" tabindex="-1" role="main" flex=""
	class="layout-column flex">
	<md-toolbar class="md-hue-2" md-whiteframe="5">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" > 
			<md-icon md-svg-src="app/img/ic_format_list_bulleted_black_24px.svg"></md-icon>
		</md-button>
		<h2>
			<span>Toolbar with Disabled/Enabled Icon Buttons</span>
		</h2>
		<span flex></span>
		<md-button class="md-icon-button" aria-label="Favorite">
			<md-icon style="color:#f00;" md-svg-src="app/img/ic_local_post_office_black_24px.svg"></md-icon> 
		</md-button>
		<img ui-sref="login" alt="Min Li Chan" ng-src="app/img/demo.jpg" class="md-avatar" md-whiteframe="5" />
	</div>
	</md-toolbar>
	<md-content layout-padding>
		<md-card md-whiteframe="4">
			<md-card-content>
				<ui-view></ui-view>
			</md-card-content>
		</md-card>
	</md-content>
</div>