<div flex layout="row" layout-align="center center" style="background:#eee;">
	<md-card>
		<md-content layout-padding layout-wrap>
		    <form name="projectForm" style="min-width:360px;">
	          <md-input-container class="md-icon-float md-block">
	            <label>用户名</label>
	            <md-icon md-svg-src="app/img/angular-logo.svg" class="name"></md-icon>
	            <input required md-no-asterisk name="description" ng-model="vm.obj.username">
	            <div ng-messages="projectForm.description.$error">
	              <div ng-message="required">This is required.</div>
	            </div>
	          </md-input-container>
              <div layout="row" layout-align="space-between center">
              	<md-input-container class="md-icon-float" flex>
		          <label>密码</label>
		          <md-icon md-svg-src="app/img/angular-logo.svg" class="name"></md-icon>
		          <input required md-no-asterisk name="password" type="password" ng-model="vm.obj.pwd">
		          <div ng-messages="projectForm.password.$error">
		            <div ng-message="required">This is required.</div>
		          </div>
		       </md-input-container>
                <md-button type="submit" ng-click="vm.login()" ng-disabled="projectForm.$invalid" class="md-fab" aria-label="Photos with Tooltip Delay" style="margin-top: -24px;">
                  <md-icon md-svg-src="app/img/ic_arrow_forward_white_24px.svg"></md-icon>
                </md-button>
              </div>
	          <md-card-actions ng-if="vm.error" layout="column" layout-align="center center">
              	<md-subheader class="md-no-sticky md-warn">用户名或密码错误</md-subheader>
	          	<a class="md-subheader">忘记密码?</a>
              </md-card-actions>
	        </form>
		</md-content>
	</md-card>
</div>